<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/hamster.png">
</head>
<body>
    <header id='header'>
      <ul>
        <li><a href="/">Member</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/shop">Shop</a></li> 
        <li><a href="/app">App</a></li> 
      </ul>
                </header>
                <main id="site-main">
          <!--form handing-->
          <form action="/" method="POST">
              <table border="1">
                  <thead class="thead-dark">
                      <tr>
                          <th>ID</th>
                          <th>Cover</th>
                          <th>tag</th>
                          <th>detail</th>
                          <th>title</th>
                          <th>note</th>
                          <th>gallery</th>
                          <th>Save</th>
                      </tr>
                  </thead>
              </form>
              <tbody>

                <% for(var i =0; i<news.length;i++){ %>
                      <tr>
                        <form method="POST" id="update_news_<%= news[i]._id%>">           
                        <input type="hidden" name="id" value="<%= news[i]._id %>"> 
                        <td style="height:50px; width:50px"><%= i+1 %> </td>
                        <td><input type="text" name="cover" value="<%= news[i].cover %>" style='width: 80px;'></td>
                        <td><input type="text" name = "tag"value="<%= news[i].tag %>" style='width: 80px;'></td> 
                        <td><input type="text" name="detail" value="<%= news[i].detail%>"></td>
                        <td><input type="text" name="title" value="<%= news[i].title%>" style='width: 80px;'></td>
                        <td><input type="text" name="note" value="<%= news[i].note%>" style='width: 120px;'></td>
                        <td><input type="text" name="gallery" value="<%= news[i].gallery%>" style='width: 150px;'></td>

                      
                          <td> 
                            <div class="form-group">
                                <a href="#"class="btn border-shadow update">
                                <button onclick="handle_submit_form('<%= news[i]._id%>')" type="button" class="btn text-dark update">Save</button>
                                <!-- <a href="/update-user?id=<%= news[i]._id %>" class="btn border-shadow update"></a> -->
                            </div>
                              
                          </td>
                      </tr>
                      </form>
                     <% } %> 
                  
              </tbody>
              </table>
        
      </div>
      </main>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="js/news.js"></script>
      
      
      </body>
      </html>